.home-content {
  box-sizing: border-box;
  padding: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: 'Roboto';
  font-size: 1.5rem;
  color: #F3CFA6;
  text-shadow: 1.5px 1.5px 1px black;
  overflow: scroll;
  scrollbar-width: none;
}